<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311578125661-le2egc4e91ckrung01j43jchs0atns6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311578125661-le2egc4e91ckrung01j43jchs0atns6s</string>
	<key>API_KEY</key>
	<string>AIzaSyC17dpYIZXhimbtedQvx8uvbxT25FX6gC4</string>
	<key>GCM_SENDER_ID</key>
	<string>311578125661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akiflow.mobile</string>
	<key>PROJECT_ID</key>
	<string>akiflow-prod-b6e34</string>
	<key>STORAGE_BUCKET</key>
	<string>akiflow-prod-b6e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311578125661:ios:114f79a4d5f9bc3fc734b4</string>
</dict>
</plist>